[Desktop Entry]

Name=KorsanPaint
GenericName=Paint Program
Comment=An easy-to-use paint program
Type=Application
Path=/usr/bin
Exec=korsanPaint
Icon=/usr/share/korsanPaint/icon.png
Categories=2DGraphics;
Terminal=false