[Desktop Entry]

Name=Korsan Paint
GenericName=Paint Program
Comment=An fast paint program
Type=Application
Path=/usr/bin
Exec=korsanPaint %f
Icon=/usr/share/korsanPaint/icon.png
Categories=2DGraphics;
Terminal=false